:root{
  --buttonColor:black;
}

.accordion {
    border: 1px solid #242323;
    background-color: var(--buttonColor);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
  
    p {
      padding-top: 20px;
    }
  
    h4 {
      color: #fff;
      display: inline;
      font-size: 20px;
      margin: 0;
    }
    .accordion-title {
      display: flex;
      justify-content: center ;
      align-items: center;
      letter-spacing: 1.5px;
      cursor: pointer;
  
      &.active .accordion-arrow {
        transform: rotate(0); 
      }
    }
  
    .accordion-text {
      display: none;
      color: #fff;
    }
  }