:root{
	--mainColor:#15202B;
	--secondaryColor:#192734;

	--borderColor:#164D56;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgb(25, 39, 52, 0.8);
	--previewShadow:#111921;

	--strongColor: #fff;
	--buttonColor:#17a2b8;

	--textShadow: 0 2px 5px rgba(0, 0, 255,0.5);
	--sideNavColor: #17a2b8;

    --contentColor: #fff;

}

