:root{
	--mainColor:#606B56;
	--secondaryColor:#515a48;

	--borderColor:#161914;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgb(81, 90, 72, 0.8);
	--previewShadow:#2a2f25;

	--strongColor: #fff;

	--buttonColor:#669966;
	--textShadow: 0 2px 5px rgba(12, 19, 12, 0.5);


}